<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="minhacor">


  <ion-button expand="block" fill="outline" (click)="toastComOpcao()">Toast com opções de click</ion-button>
  <ion-button expand="block" fill="outline" (click)="alertaSimples()">Alerta Simples</ion-button>
  <ion-button expand="block" fill="outline" (click)="alertaMultiplosBotoes()">Alerta Com multiplos botões</ion-button>
  <ion-button expand="block" fill="outline" (click)="alertaConfirmar()">Alerta com confirmação</ion-button>
  <ion-button expand="block" fill="outline" (click)="alertaEntrada()">Alerta Entrada</ion-button>



</ion-content>
